{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked",
		"next/core-web-vitals",
		"prettier"
	],
	"plugins": ["testing-library", "@typescript-eslint", "react"],
	"rules": {
		"@typescript-eslint/naming-convention": ["warn"]
	},
	"overrides": [
		// Only uses Testing Library lint rules in test files
		{
			"files": [
				"**/__tests__/**/*.[jt]s?(x)",
				"**/?(*.)+(spec|test).[jt]s?(x)"
			],
			"extends": ["plugin:testing-library/react"]
		},
		// Allow Pascal functions in jsx files
		{
			"files": ["**/.*\\.[jt]sx"],
			"rules": {
				"@typescript-eslint/naming-convention": ["warn"]
			}
		},
		// Overwrite next config to enable type checked linting
		{
			"files": ["**/*.ts?(x)"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"sourceType": "module",
				"project": true,
				"tsconfigRootDir": "__dirname",
				"ecmaFeatures": {
					"jsx": true
				},
				"warnOnUnsupportedTypeScriptVersion": true
			}
		}
	]
}
