{
	"extends": [
		"eslint-config-prettier",
		"next/core-web-vitals",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked",
	],
	"plugins": ["testing-library", "@typescript-eslint"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": true,
		"tsconfigRootDir": "__dirname",
	},
	"overrides": [
		// Only uses Testing Library lint rules in test files
		{
			"files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
			"extends": ["plugin:testing-library/react"],
		},
	],
}
