{
	"extends": ["stylelint-config-recommended", "stylelint-config-css-modules"],
	"rules": {
		"declaration-property-value-no-unknown": true,
		"declaration-no-important": true,
		"custom-property-empty-line-before": null,
		"declaration-empty-line-before": null
	}
}
