{
	"extends": [
		"stylelint-config-recommended",
		"stylelint-config-css-modules",
		"stylelint-config-tailwindcss"
	],
	"rules": {
		"declaration-property-value-no-unknown": true,
		"declaration-no-important": true
	}
}
